.formContainer {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    padding: 30px;
    margin-top: 20px;
}

.initialMessage>h1 {
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    margin-right: 100px;
}

.signUpFormContainer {
    display: grid;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    grid-template-columns: 100%;
}


.submitButton {
    width: 145px;
    height: 31px;
    background: #323232;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 0px;
    border: 0px;
    margin-left: 175px;
    margin-top: 20px;
}

.submitButton:hover {
    background: #e0e0e0;
    color: #323232;
    border: #323232 solid 2px;
    transition: linear 0.3s;
}

.endMessage {
    width: 98%;
    display: flex;
    justify-content: flex-end;
    border-top: #323232 solid 1px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 70px;
}

.loginLink {
    color: red;
    font-weight: 1000;
    font-size: 15px;
    line-height: 28px;
}

@media (min-width:1024px) {
    .formContainer {
        background-image: url("../assets/img/SignupBG.png");
        background-repeat: no-repeat;
        background-position: center center/cover;
        background-size: 100%;
        background-attachment: fixed;
        height: 100Vh;
        display: flex;
        flex-direction: column;
        align-items: end;

    }

    .fromBox {
        margin-top: 100px;
        width: 686px;
        height: 356px;
        background: #433452;
        box-shadow: 0px 0px 7px 4px #493A59;
        border-radius: 15px;
        padding: 20px;
    }

    .initialMessage>h1 {
        font-weight: 1000;
        line-height: 39px;
        margin-right: 100px;
        font-family: 'Montserrat';
        font-style: normal;
        color: #CCA95E;
    }

    .signUpFormContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        margin-top: 15px;
    }

    .submitButton {
        margin-left: 490px;
        background: #937A3A;
    }

    .endMessage {
        width: 350px;
        font-size: large;
        font-weight: 1000;
        line-height: 39px;
        color: white;
        border-top: white 1px solid;
    }

    .loginLink {
        font-size: large;
        color: #A047FF;
    }

}