.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.footer>a {
    width: 80px;
    display: flex;
    align-items: center;
}

.footer>a>img {
    width: 70px;
    margin-right: 50px;
    margin-bottom: 5px;
}